.googlebtn
{
    border-radius:6px;
    width: 250px;
    border-color: transparent;
}

.icons
{
    margin-left:860px;
    margin-top: -80px;
}

.socialbtn
{
    border-radius:6px;
    width: 50px;
    border-color: transparent;
    margin-left:15px;
     
}